# Xcode / build artifacts
build/
DerivedData/
*.xcuserstate
**/xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Local tooling / editor
.claude/
*.log
